BOT_TOKEN=my-bot-auth-token
WEBHOOK_DOMAIN=my.webhook.domain
PORT=443
CERT_PATH=ssl/cert.pem
KEY_PATH=ssl/key.pem
DB_DIALECT=sqlite
DB_URL=file:local.db
DB_TOKEN=my-db-auth-token-if-any
REDIS_URL=redis://127.0.0.1:6380
CARDTRADER_TOKEN=my-cardtrader-auth-token
DFLT_TIMEZONE=Europe/Rome
